

  
  
  .contacts__link {
    
    // padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    &:hover,
    &:focus {
      color: var(--button);
    }
    &:hover .contacts__icon,
    &:focus .contacts__icon {
      fill: var(--button);
    }

    @media screen and (min-width: 1200px) {
      
      padding: 32px 0;
    }
  }

  .contacts__link,
  .contacts__icon {
    color: var(--contact);
 
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
  .contacts__item--mail {
    margin-bottom: 64px;

    @media screen and (min-width: 768px) {
      margin: 0;
  }
  }
  .contacts__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: calc(28 /24);
    letter-spacing: 0.02em;
    color: var(--contact);

  }
.contacts__item--tel {
  margin-top: auto;
  margin-bottom: 32px;
  @media screen and (min-width: 768px) {
    margin: 0;
}

}
  .contacts__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;
    color: var(--button);
    margin-bottom: 32px;

  }

  .contacts__icon {
    position: absolute;
    display: block;
    height: auto;
    fill: var(--contact);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

  }
  .contacts__item {
    position: relative;
  }

  @media screen and (max-width: 767px)  {
     .contacts__icon {
      display: none;
     }

  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .contacts__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: var(--contact);
      padding-left: 25px;
           
    }
    .contacts {
     display: inline-flex;
      flex-direction: column-reverse;
      gap: 10px;
     
    }
    .contacts__icon {
      position: absolute;
      top: 4px;
      left: -2px;
      scale: 0.9;
     }
     

  }
  @media screen and (min-width: 1200px) {
      
   
    .contacts__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: var(--contact);
      padding-left: 25px;

    }
    .contacts {
    
      display: flex;
      flex-direction: row-reverse;
      gap: 40px;
      
   }
   .contacts__icon {
    position: absolute;
    top: 4px;
    left: 0;
   }
   
  }
  .contacts-position {
    position: relative;
   }
 
