/*footer*/
.footer {
    background: var(--footer);
    padding: 60px 0 60px 0;
    
  }
  .footer__content {
    @media screen and (min-width: 768px) {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: baseline;
     gap: 60px;
     padding: 0 80px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 0 15px;
     }

  }
  .footer__requisites {
    
    @media screen and (max-width: 1199px) {
      @include flexible;
      flex-direction: column;
      padding-bottom: 60px;
    }

  }
  .footer-address {
    margin-top: 20px;
  }
  .footer-address__list {
    @media screen and (max-width: 1199px) {
      @include flexible;
      flex-direction: column;

  }
}
  
  .footer-address__map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--main-background);
  }
  
  .footer-address__mail,
  .footer-address__tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--mail);

    transition-property: color;
     transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
  

  .footer-address__item {
    &:not(:last-child) {
      margin-bottom: 9px;
    }
  }

  .footer-address__mail,
  .footer-address__tel {
    &:hover,
    &:focus {
      color: var(--button);
    }
  }
  

