/*hero*/
.main {
    padding: 200px 0;
    text-align: center;
  }
  
  .overlay {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-color: var(--image-overlay-bgc);
  

    @media screen and (max-width: 479px) {
      background-image: linear-gradient(to right, var(--image-overlay), var(--image-overlay)),
        url("../../images/header-img__mobile.jpg");

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
         .overlay {
           background-image: linear-gradient(to right,  var(--image-overlay), var(--image-overlay)),
           url("../../images/header-img__mobile@2x.jpg");
         }
 }
      
    }
    @media screen and (min-width: 480px) and (max-width: 767px) {
      background-image: linear-gradient(to right, var(--image-overlay), var(--image-overlay)),
      url("../../images/header-img__tab.jpg");

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
       .overlay {
         background-image: linear-gradient(to right,  var(--image-overlay), var(--image-overlay)),
         url("../../images/header-img__tab@2x.jpg");
       }
}
    
    }
    @media screen and (min-width: 768px) {
      background-image: linear-gradient(to right, var(--image-overlay), var(--image-overlay)),
      url("../../images/header-img__desktop.jpg");

      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
       .overlay {
         background-image: linear-gradient(to right,  var(--image-overlay), var(--image-overlay)),
         url("../../images/header-img__desktop@2x.jpg");
       }
}
    
    }

  }

  
  .hero__title {
    display: block;
   
    margin: 0 auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: var(--main-background);

    @media screen and (max-width: 1199px) {
      font-size: 26px;
      line-height: calc(42 / 26);
      width: 360px;

    }
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: calc(60 / 44);
      width: 700px;
    }
  }
  
  .hero__button {
    padding: 10px 32px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background);
    letter-spacing: 0.06em;
    background-color: var(--button);
    border-radius: 4px;
    border-color: transparent;
    border: 1px solid var(--button);
    cursor: pointer;
  
    @include transit(background-color);
  }
  
  .hero__button {
    &:hover,
    &:focus {
      background-color: var(--button-active);
    }
  }