.menu-button__icon {
    fill: var(--black);
    z-index: 5;
}
.menu-button__icon {
    &:hover,
    &:focus {
        fill: var(--button);
    }
}
.menu-button__icon {
    &:not(:active) {
        fill: var(--black);
    }
}

.menu-button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;

    @media screen and (min-width: 768px)  {
        display: none;
      }
     

}
.menu-button .icon-cross {
    display: none;
}
.menu-button.is-open .icon-cross {
    display: block;
}
.menu-button.is-open .icon-menu {
    display: none;
}
.menu-container {

    @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: 2;
    background-color: var(--main-background);
    padding: 48px 40px;
     font-size: 20px;
     height: 100vh;
     width: 100vw;

     &.is-open {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    

    }
}

.menu-container__social-list {
    position: relative;
    display: inline-flex;
    gap: 10px;

    @media screen and (min-width: 768px)  {
        display: none;
      }
   
}
.menu-container__social-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--contact);
}

.menu-container__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: calc(22 / 18);
    letter-spacing: 0.02em;
    color: var(--button); 
    text-decoration: none;

}
@media screen and (min-width: 768px)  {
    .menu-container {
       display: flex;
        align-items: center;
        justify-content: space-between;
       
        width: 100%;
       
        
    }
    .menu__list {
       
        display: inline-flex;
        gap: 50px;
        
    }
   }
