
  /*header*/
  .header {
    
    outline: 1px solid var(--line);
    position: relative;
   
  }

  .header-nav {
    position: relative;
    // display: flex;
    // align-items: center;
   
    
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (min-width: 767px) and (max-width: 1199px) {
      display: flex;
      // justify-content: space-between;
      gap: 88px;
    
    }
    @media screen and (min-width: 1200px) {
    display: flex;
      gap: 93px;
     
    }
  }

  .menu__link {
   
    letter-spacing: 0.02em;
    color: var(--main-color);

    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--button);
    }
    color: var(--main-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);

  }
  @media screen and (max-width: 767px) {
    .menu__list {
      display: block;
    }
    .menu__list-item:not(:last-child) {
      margin-bottom: 35px;
    }
    .menu__link {
      font-weight: 500;
      font-size: 40px;
      line-height: calc(47 / 40);
    }
  }
  @media screen and (min-width: 769px) {
    .menu__link {
      padding: 32px 0; 
      font-weight: 500;
      font-size: 14px;
      line-height: calc(16 / 14);      
    }
  /* Thin blue line */
  .menu__list .current {
    position: relative;
    color: var(--button);
  }
  
 .menu__list {
  // display: flex;
  
  
   .current {
    &::after {
       position: absolute;
        bottom: -1px;
        display: block;
        content: "";
        height: 4px;
        width: 100%;
        background-color: var(--button);
         border-radius: 4px;
     }
  }
  }

  }
 

  .current {
    color: var(--button);
  }
