/*team*/
.group {
    
    background-color: var(--team);

    @media screen and (max-width: 1199px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
      padding: 94px 0;
    }
  }
  
  .team__title {
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color);

    @media screen and (max-width: 1199px) {
      font-size: 28px;
      line-height: calc(33 / 28);
      margin-bottom: 30px;

    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: calc(42 / 36);
      margin-bottom: 50px;
    }
  }
  
  .team__list {

    @media screen and (max-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 30px;
    }
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

    }
    @media screen and (min-width: 1200px) {
      display: flex;
      gap: 30px;
      
    }
  }
  
  .team__list-item {
    
    background-color: var(--main-background);
    border-radius: 0px 0px 4px 4px;
    box-shadow: var(--box-shadow-first);

    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 1 * 30px) / 2);

    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 90px) / 4);
      
    }
  }
  .team__list-image {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
  }
  .team-card {
    
    @media screen and (max-width: 1199px) {
      padding: 30px 0 24px;

    }
    @media screen and (min-width: 1200px) {
      padding: 30px 0;
      
    }
  }
  
  .team-card__name {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-color);
  }
  
  .team-card__position {
    margin-bottom: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--contact);
  }
  
  .social-list {
    @include flexible;
    gap: 10px;
  }
  
  .social-list__item {

    display: flex;
  }
  
  .social-list__link {

    @include flexible;
    width: 44px;
    height: 44px;
    background: var(--main-background);
    border-radius: 50%;

    @include transit(background-color);
  }
  
  .social-list__image {
    width: 20px;
    height: 20px;
    fill: var(--color-third);
    
    @include transit(fill);
  }
  
  .social-list__link {
    &:hover,
    &:focus {
      background-color: var(--button);
    }
    &:hover {
      .social-list__image {
        fill: var(--main-background);
      }
    }
    &:focus {
      .social-list__image  {
        fill: var(--main-background);
      }
    }
  }
  