:root {
    --main-color: #212121;
    --main-background: #ffffff;
    --main-transparent: #21212133;
    --button: #2196F3;
    --cue: #2196F3E6;
    --footer: #2F303A;
    --button-active:#188CE8 ;
    --black: #000000;
    --contact: #757575;
    --team: #F5F4FA;
    --mail: #FFFFFF99;
    --footer-input: #FFFFFF4c;
    --line: #ececec;
    --box-shadow-first: 
      0px 1px 3px rgba(0, 0, 0, 0.12),
       0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    --box-shadow-second:
         0px 4px 4px rgba(0, 0, 0, 0.25);
    --box-shadow-third: 
        0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
    --box-shadow-fourth: 
        0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
    --box-shadow-fifth:
          (0px 4px 4px rgba(0, 0, 0, 0.15));
    --image-border: #EEEEEE;
    --head-image-overlay: #2F303A66;
    --image-overlay: #2F303A66;
    --image-overlay-bgc: #C4C4C4;
    --footer-social: #FFFFFF19;
    --design: #2F303ACC;
    --color-third: #afb1b8;
    --backdrop: #00000033;
    --cross: #00000019;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --cubic-second: cubic-bezier(.3,1.15,0,-1.24);

    

  }

