/*footer-form*/
.footer-form__input {
    padding: 15px 0 15px 15px;
    width: 358px;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: var(--main-background);
    background-color: var(--footer);
    border: 1px solid var(--footer-input);
    box-shadow: var(--box-shadow-fifth);
    border-radius: 4px;
  }
  
  .footer-form {
    display: flex;
  }
  
  
  .footer-form input {
    &::placeholder {
      font-size: 16px;
      line-height: calc(20 / 16);
      letter-spacing: 0.03em;
      color: var(--main-background);
    }
  }
  
  .footer-form__button {

    display: flex;
    flex-direction: raw;
    margin-left: 10px;
    padding: 8px 28px;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-background);
    letter-spacing: 0.06em;
    background-color: var(--button);
    border-radius: 4px;
    border-color: transparent;
    border: 1px solid var(--button);
    cursor: pointer;

    transition-property: background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: var(--cubic);
  }
  

  .footer-form__button {
    &:hover,
    &:focus {
      background-color: var(--button-active);
      box-shadow: var(--box-shadow-fifth);
    }
  }
  
  .footer-form__icon {
    fill: var(--main-background);
    margin-left: 10px;
  }
  