/*header-logo*/
.header-nav__logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--button);
    text-decoration: none;
    margin-right: 93px;
    padding: 25px 0;
  }
  
  .header-nav__logo-link--black {
    color: var(--black);
    
  }