/*portfolio*/
.portfolio {
    padding: 94px 0;
  }
  
  .button-list {
    @include flexible;
    gap: 8px;
    margin-bottom: 50px;
    list-style-type: none;
    text-decoration: none;
  }
  
  .button-list__menu-button {
    padding: 6px 22px;
    margin: 0;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    background-color: $team;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    // @include transit(background-color,color,box-shadow); 

    transition-property: background-color, color, box-shadow;
     transition-duration: 250ms;
    transition-timing-function: $cubic;
  }
  

  .button-list__menu-button {
    &:hover,
    &:focus {
      background-color: $button;
      color: $main-background;
      box-shadow: $box-shadow-third;
    }
  }
  